@model object

@{
    ViewBag.Title = "Sessions";
    Layout = "_Layout";
}

@section styles
{
    <link href="css/datepicker.css" rel="stylesheet" type="text/css"/>
    <link href="css/daterangepicker.css" rel="stylesheet" type="text/css"/>
}

<section class="wrapper">
      <!-- page start-->
      <section class="card">
          <header class="card-header">
              All Sessions
              <span class="pull-right">
                  <a href="#newSessionModal" data-toggle="modal" onclick="showCreateSessionButton()" class="btn btn-success btn-sm">New Session</a>
              </span>
          </header>
      <div class="card-body">
          <div class="row">
              <div class="col-md-12">
                  <div class="adv-table">
                    <table class="table table-hover p-table" id="sessionTable">
                          <thead>
                          <tr>
                              <th>#</th>
                              <th>Session</th>
                              <th>Semester</th>
                              <th>Start Date</th>
                              <th>End Date</th>
                              <th>Status</th>
                              <th>Action</th>
                          </tr>
                          </thead>
                          <tbody></tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
      </section>
</section>


<div class="modal fade" id="newSessionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal" data-parsley-validate="true">
                <div class="modal-header">
                    <h5 class="modal-title" id="createSessionTitle">New Session</h5>
                    <h5 class="modal-title" id="editSessionTitle">Edit Session</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" required>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label for="session">Session</label>
                                <input type="text" class="form-control" id="session" placeholder="Session name">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="semester">Semester</label>
                                <select id="semester" class="form-control mb-2">
                                    <option selected>Select semester</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label for="startDate">Start Date</label>
                                <div class="input-group date">
                                    <input type="text" id="startDate" class="form-control date-picker-input" placeholder="Start Date">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="button"><i class="fa fa-calendar f14"></i></button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="endDate">End Date</label>
                                <div class="input-group date">
                                    <input type="text" id="endDate" class="form-control date-picker-input" placeholder="End Date">
                                    <div class="input-group-append">
                                        <button class="btn btn-success" type="button"><i class="fa fa-calendar f14"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="custom-control custom-checkbox mt-3">
                                    <input type="checkbox" class="custom-control-input" id="current">
                                    <label class="custom-control-label" for="current">Set as current</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn-primary" id="createSessionBtn" onclick="createSession()">Create</button>
                    <button type="button" class="btn btn-sm btn-primary" id="editSessionBtn" onclick="editSession()">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteSessionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModal">Delete Session</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you really want to delete this session?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="deleteSession()">Yes</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/daterangepicker.js"></script>
    <script src="js/init-date-picker.js"></script>
    
    <script src="Scripts/Session/Index.js"></script>
}
