@using GradeCalculatorApp.Data.Domains
@model object

@{
    ViewBag.Title = "Registered Courses";
    Layout = "_Layout";

    SessionSemester sessionSemester = ViewBag.SessionSemester;
    User user = ViewBag.User;
    long programmeId = ViewBag.ProgrammeId;
}

<section class="wrapper">
      <!-- page start-->
      <section class="card">
          <header class="card-header">
              @if (sessionSemester?.Session == null)
              {
                  <span>No current session at this moment</span>
              }
              else
              {
                  <span>All registered courses for @sessionSemester.Session?.Name</span>
              }
          </header>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-12">
                      <div class="adv-table">
                          <table class="table table-hover p-table" id="registeredCourseTable">
                              <thead>
                              <tr>
                                  <th>#</th>
                                  <th>Course Name</th>
                                  <th>Course Code</th>
                                  <th>Course Credit</th>
                                  <th>Lecturer</th>
                              </tr>
                              </thead>
                              <tbody></tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </section>
</section>

@section scripts
{
    <script>
        let sessionSemesterId = @sessionSemester?.Id;
        let studentId = @user?.Id; // currently signed in student
//        let programmeId = @programmeId; 
    </script>
    
    <script src="/Scripts/RegisterCourse/Student.js"></script>
}


