@model object

@{
    ViewBag.Title = "Students";
    Layout = "_Layout";
}

<section class="wrapper">
      <!-- page start-->
      <section class="card">
          <header class="card-header">
              All Students
              <span class="pull-right">
                  <a href="#newStudentModal" data-toggle="modal" onclick="showCreateStudentButton()" class="btn btn-success btn-sm">New Student</a>
              </span>
          </header>
      <div class="card-body">
          <div class="row">
              <div class="col-md-12">
                  <div class="adv-table">
                    <table class="table table-hover p-table" id="studentTable">
                          <thead>
                          <tr>
                              <th>#</th>
                              <th>Firstname</th>
                              <th>Lastname</th>
                              <th>Email</th>
                              <th>Matric</th>
                              <th>Programme</th>
                              <th>Action</th>
                          </tr>
                          </thead>
                          <tbody></tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
      </section>
</section>


<div class="modal fade" id="newStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal" data-parsley-validate="true">
                <div class="modal-header">
                    <h5 class="modal-title" id="createStudentTitle">New Student</h5>
                    <h5 class="modal-title" id="editStudentTitle">Edit Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" required>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label for="firstname">First Name</label>
                                <input type="text" required class="form-control" id="firstname" placeholder="First name">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="lastname">Last Name</label>
                                <input type="text" required class="form-control" id="lastname" placeholder="Last name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <label for="email">Email</label>
                                <input type="email" required class="form-control" id="email" placeholder="Email">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <label for="matric">Matric Number</label>
                                <input type="text" required class="form-control" id="matric" placeholder="Matric Number">
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-md-12">
                                <label for="programme">Programme</label>
                                <select id="programme" class="form-control mb-2">
                                    <option selected>Select programme</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn-primary" id="createStudentBtn" onclick="createStudent()">Create</button>
                    <button type="button" class="btn btn-sm btn-primary" id="editStudentBtn" onclick="editStudent()">Edit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModal">Delete Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you really want to delete this Student?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" onclick="deleteStudent()">Yes</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="Scripts/Student/Index.js"></script>
}
