@using GradeCalculatorApp.Data.Domains
@model object

@{
    ViewBag.Title = "Registered Courses";
    Layout = "_Layout";
    
    SessionSemester sessionSemester = ViewBag.SessionSemester;
}

<section class="wrapper">
    <!-- page start-->
    <section class="card">
        <header class="card-header">
            All Registered Courses
        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="adv-table">
                        <table class="table table-hover p-table" id="registeredCourseTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Course Name</th>
                                <th>Course Code</th>
                                <th>Course Credit</th>
                                <th>Student</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<div class="modal fade" id="gradeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form class="form-horizontal" data-parsley-validate="true">
                <div class="modal-header">
                    <h5 class="modal-title" id="createCourseTitle">Grade Student</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="id" required>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="quiz1">Quiz 1</label>
                                <input type="number" min="0" max="2.5" required class="form-control" id="quiz1" placeholder="Quiz 1 (2.5 max)">
                            </div>
                            <div class="col-md-6">
                                <label for="quiz2">Quiz 2</label>
                                <input type="number" min="0" max="2.5" required class="form-control" id="quiz2" placeholder="Quiz 2 (2.5 max)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="assignment1">Assignment 1</label>
                                <input type="number" min="0" max="2.5" required class="form-control" id="assignment1" placeholder="Assignment 1 (2.5 max)">
                            </div>
                            <div class="col-md-6">
                                <label for="assignment2">Assignment 2</label>
                                <input type="number" min="0" max="2.5" required class="form-control" id="assignment2" placeholder="Assignment 2 (2.5 max)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="attendance">Attendance</label>
                                <input type="number" min="0" max="2.5" required class="form-control" id="attendance" placeholder="Attendance (5 max)">
                            </div>
                            <div class="col-md-6">
                                <label for="mid_semester">Mid Semester</label>
                                <input type="number" min="0" max="15" required class="form-control" id="mid_semester" placeholder="Mid Semester (15 max)">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="project">Project</label>
                                <input type="number" min="0" max="10" required class="form-control" id="project" placeholder="Project (10 max)">
                            </div>
                            <div class="col-md-6">
                                <label for="exam">Final Exam</label>
                                <input type="number" min="0" max="60" required class="form-control" id="exam" placeholder="Final Exam (60 max)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-sm btn-primary" id="createCourseBtn" onclick="createRegisteredCourseGrade()">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        let sessionSemesterId = @sessionSemester?.Id;
        let lecturerId = 1; // currently signed in lecturer
    </script>
    <script src="Scripts/RegisteredCourse/Index.js"></script>
}


