@model object

@{
    ViewBag.Title = "Grade Details";
    Layout = "_Layout";

    long gradedCourseId = ViewBag.GradedCourseId;
}

<section class="wrapper">
    <div class="row state-overview">
        <div class="col-lg-3 col-sm-6">
            <section class="card">
                <div class="symbol terques">
                    <i class="fa fa-book"></i>
                </div>
                <div class="value">
                    <h1 id="exam"></h1>
                    <p>Exam</p>
                </div>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6">
            <section class="card">
                <div class="symbol red">
                    <i class="fa fa-book"></i>
                </div>
                <div class="value">
                    <h1 id="totalCa"></h1>
                    <p>Total CA</p>
                </div>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6">
            <section class="card">
                <div class="symbol yellow">
                    <i class="fa fa-book"></i>
                </div>
                <div class="value">
                    <h1 id="finalScore"></h1>
                    <p>Final Score</p>
                </div>
            </section>
        </div>
        <div class="col-lg-3 col-sm-6">
            <section class="card">
                <div class="symbol blue">
                    <i class="fa fa-book"></i>
                </div>
                <div class="value">
                    <h1 id="grade"></h1>
                    <p>Grade</p>
                </div>
            </section>
        </div>
    </div>
    
    <section class="card">
        <header class="card-header">
            Grade Details
        </header>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="adv-table">
                        <table class="table table-hover p-table" id="gradeDetailsTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Value</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

@section scripts
{
    <script>
        let gradedCourseId = @gradedCourseId;
    </script>
    
    <script src="/Scripts/GradeCourse/GradeDetails.js"></script>
}