@using GradeCalculatorApp.Data.Domains
@model object

@{
    ViewBag.Title = "Graded Courses";
    Layout = "_Layout";
    
    SessionSemester sessionSemester = ViewBag.SessionSemester;
}

<section class="wrapper">
      <!-- page start-->
      <section class="card">
          <header class="card-header">
              All Graded Courses
          </header>
      <div class="card-body">
          <div class="row">
              <div class="col-md-12">
                  <div class="adv-table">
                    <table class="table table-hover p-table" id="gradedCoursesTable">
                          <thead>
                          <tr>
                              <th>#</th>
                              <th>Course Name</th>
                              <th>Course Credit</th>
                              <th>Lecturer</th>
                              <th>Grade</th>
                              <th>Action</th>
                          </tr>
                          </thead>
                          <tbody></tbody>
                    </table>
                </div>
            </div>
          </div>
      </div>
      </section>
</section>

@section scripts
{
    <script>
        let sessionSemesterId = @sessionSemester?.Id; 
        let studentId = 1; 
    </script>
    
    <script src="Scripts/GradeCourse/Index.js"></script>
}


